body, ul, li {
    padding:0;
    margin:0;
    border:0;
}
body {
    font-size:12px;
    -webkit-user-select:none;
    -webkit-text-size-adjust:none;
    font-family:helvetica;
}
#header {
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    width:100%;
    height:50px;
    line-height:50px;
    background-color:#cccccc;
    background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #cccccc), color-stop(1, #e5e5e5));
    background-image:-moz-linear-gradient(top, #cccccc, #e5e5e5);
    background-image:-o-linear-gradient(top, #cccccc, #e5e5e5);
    border-bottom:1px solid #444;
    padding:0;
    color:#eee;
    font-size:20px;
    text-align:center;
}
img.danelogo1 {
    float:left;
    margin-left:1px;
    max-width: 75%;
    max-height: 60%;
    margin-top: 5px;
}
h5.title {
    float:left;
    margin: 0 2px 0 2px;
    color: black;
    font-weight: bold;
}
img.danelogo2 {
    float:right;
    margin-right:1px;
    max-width: 75%;
    max-height: 65%;
    margin-top: 5px;
}
#wrapper {
    position:absolute;
    z-index:1;
    top:50px;
    bottom:48px;
    left:0;
    width:100%;
    background:#fff;
    overflow:auto;
}
li.home-li-tip {
    padding-top:10px !important;
    padding-bottom:5px !important;
    background:#ffffff !important;
    margin-bottom:2px;
    color:#000000 !important;
}
li.menu-li {
    padding:5px;
    background:#B92859;
    margin-bottom:2px;
    color:#ffffff;
    min-height: 30px;
    clear: both;
}
li.inner-li {
    line-height:14px;
    margin-bottom: 10px;
}
span.tip_bog {
    font-size:11px !important;
}
img.back-home-icon, img.vmap-icon {
    float:right;
}
li.item-li a {
    color:#ffffff;
    text-decoration:none;
}
a.itm-nom {
    float:left;
}
li.mpios-li a.itm-nom, li.cpobs-li a.itm-nom {
    width: 65%;
}
li.deptos-li a.itm-nom {
    width: 75%;
}
li.dstrts-li a.itm-nom, li.amtrps-li a.itm-nom {
    width: 85%;
}
li.dstrts-li a.itm-cod, li.amtrps-li a.itm-cod {
    display:none;
}
li.deptos-li a.itm-cod, li.mpios-li a.itm-cod, li.cpobs-li a.itm-cod {
    float:right;
    margin-right:10px;
    margin-left:5px;
}
div.mpio-li-title, div.cpob-li-title {
    float:left;
    width: 85%;
    font-size: 12px;
}
div.cpob-li-title {
    font-size: 11px;
}
li.cpobs-li-tip{
    line-height: 14px;
    margin-bottom: 10px;
    padding: 2px;
    min-height: 50px;
}
li.mpios-li a, li.cpobs-li a {
    color:#000000;
    text-decoration:none;
}
li.mpios-odd-li, li.cpobs-odd-li {
    background:#cccccc;
}
li.mpios-even-li, li.cpobs-even-li {
    background:#ffffff;
}
#footer {
    position:absolute;
    z-index:2;
    bottom:0;
    left:0;
    width:100%;
    height:48px;
    background-color:#A91D4A;
    padding:0;
    border-top:1px solid #444;
}